
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles without using @apply to avoid PostCSS apply issues */
body {
	font-family: 'Inter', ui-sans-serif, system-ui, -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Helvetica Neue', 'Arial';
	background-color: #e1ebe4; 
	color: #060505;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
